{% load static %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16824006630">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16824006630');
</script>
<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">TopSoftware</a>
    <!-- Desktop Navigation -->
    <ul class="desktop-nav navbar-menu">
      <li class="cs-li">
        <a href="/" class="cs-li-link">Home</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'contact' %}" class="cs-li-link">Contact</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'pricing' %}" class="cs-li-link">Pricing</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'portfolio' %}" class="cs-li-link">Portfolio</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'payments' %}" class="cs-li-link">Payment</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'sales_application' %}" class="cs-li-link">Careers</a>
      </li>
    </ul>
    <!-- Mobile Hamburger Icon -->
    <div class="mobile-menu-icon" id="mobile-menu-icon">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
  </div>
  <!-- Mobile Navigation Dropdown -->
  <div class="mobile-nav" id="mobile-nav">
    <ul class="mobile-nav-menu">
      <li class="cs-li">
        <a href="/" class="cs-li-link">Home</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'contact' %}" class="cs-li-link">Contact</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'pricing' %}" class="cs-li-link">Pricing</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'portfolio' %}" class="cs-li-link">Portfolio</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'payments' %}" class="cs-li-link">Payment</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'sales_application' %}" class="cs-li-link">Careers</a>
      </li>
    </ul>
  </div>
</nav>
