{% load static %}
<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">TopSoftware</a>
    <!-- Desktop Navigation -->
    <ul class="desktop-nav navbar-menu">
      <li class="cs-li">
        <a href="/" class="cs-li-link">Home</a>
      </li>
      <li class="cs-li">
        <a href="/contact/contact/" class="cs-li-link">Contact</a>
      </li>
      <li class="cs-li">
        <a href="/pricing/pricing/" class="cs-li-link">Pricing</a>
      </li>
      <li class="cs-li">
        <a href="/portfolio/portfolio" class="cs-li-link">Portfolio</a>
      </li>
      <li class="cs-li">
        <a href="/payments/payments/payments" class="cs-li-link">Payment</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'sales_application' %}" class="cs-li-link">Careers</a>
      </li>
    </ul>
    <!-- Mobile Hamburger Icon -->
    <div class="mobile-menu-icon" id="mobile-menu-icon">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
  </div>
  <!-- Mobile Navigation Dropdown -->
  <div class="mobile-nav" id="mobile-nav">
    <ul class="mobile-nav-menu">
      <li class="cs-li">
        <a href="/" class="cs-li-link">Home</a>
      </li>
      <li class="cs-li">
        <a href="/contact/contact/" class="cs-li-link">Contact</a>
      </li>
      <li class="cs-li">
        <a href="/pricing/pricing/" class="cs-li-link">Pricing</a>
      </li>
      <li class="cs-li">
        <a href="/portfolio/portfolio" class="cs-li-link">Portfolio</a>
      </li>
      <li class="cs-li">
        <a href="/payments/payments/payments" class="cs-li-link">Payment</a>
      </li>
      <li class="cs-li">
        <a href="{% url 'sales_application' %}" class="cs-li-link">Careers</a>
      </li>
    </ul>
  </div>
</nav> 